@import "tailwindcss";


@theme {
  --color-dark: #0B0A0E;
  --color-white: #FFFFFF;

  --color-text-muted: #FAFAFACC;


  --font-serif: "Young Serif", serif;
  --font-sans: "Outfit", sans-serif;
}

@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
    font-family: var(--font-sans);
  }

  body {
    @apply bg-dark  text-text-muted text-sm;
  }


  h1, h2, h3, h4, h5 {
    @apply font-serif font-bold text-white;
  }
}

@layer components {
  .nav-link {
    @apply tracking-widest text-xs leading-none uppercase py-2 relative;
  }

  .nav-link::after {
    @apply absolute content-[""] bottom-0 left-0 bg-text-muted h-0.25 w-0 transition-all duration-300;
  }

  .nav-link:hover::after {
    @apply w-full;
  }


  .heading-1 {
    @apply text-[40px] md:text-[64px] lg:text-[80px] font-medium;
  }

  .heading-2 {
    @apply text-3xl md:text-5xl font-medium;
  }

  .heading-4 {
    @apply text-[28px] md:text-[38px] lg:text-[48px] font-medium leading-tight text-center;
  }
}